body{
    background-color: red;
    
}

#main-head{
    overflow: hidden;
    background-color: coral;
    color: chartreuse;
    margin: 0;

}
#navbar li{
    float: left;
    width: 300px;
    box-sizing: border-box;
    background-color: cyan;
    color: darksalmon;
    margin-top: none;
    list-style: none;
}